<!doctype html>
<html lang="en" xmlns:th="http://www.thymelef.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SeoDash Free Bootstrap Admin Template by Adminmart</title>
  <link rel="shortcut icon" type="image/png" th:href="@{/images/logos/seodashlogo.png}" />
  <link rel="stylesheet" th:href="@{/css/styles.min.css}" />
</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
    <aside class="left-sidebar">
      <!-- Sidebar scroll-->
      <div>
        <div class="brand-logo d-flex align-items-center justify-content-between">
          <a href="./index.html" class="text-nowrap logo-img">
            <span class="text-primary fw-bold text-center fs-6">Fitness SAC</span>
          </a>
          <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
            <i class="ti ti-x fs-8"></i>
          </div>
        </div>
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
          <ul id="sidebarnav">
            <li class="sidebar-item">
              <a class="sidebar-link" th:href="@{/home/gestionEntrenador}" aria-expanded="false">
                <span class="hide-menu">Gestión de entrenadores</span>
              </a>
            </li>                     
          </ul>
        </nav>
        <!-- End Sidebar navigation -->
      </div>
      <!-- End Sidebar scroll-->
    </aside>
    <!--  Sidebar End -->
    <!--  Main wrapper -->
    <div class="body-wrapper">
      <!--  Header Start -->
      <header class="app-header">
        <nav class="navbar navbar-expand-lg navbar-light">
          <ul class="navbar-nav">
            <li class="nav-item d-block d-xl-none">
              <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse" href="javascript:void(0)">
                <i class="ti ti-menu-2"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-icon-hover" href="javascript:void(0)">
                <i class="ti ti-bell-ringing"></i>
                <span class="notification bg-primary rounded-circle"></span>
              </a>
            </li>
          </ul>
        </nav>
      </header>
      <!--  Header End -->
      <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title d-flex align-items-center gap-2 mb-4">
                            Entrenadores / <span>Gestión de entrenadores</span> 
                        </h5>
                        <div class="card">
                        	<table class="table">
                        		<thead>
                        			<tr>
                        				<th>Código</th>
                        				<th>Nombres</th>
                        				<th>Apellidos</th>
                        				<th>Especialidad</th>
                        				<th>Contacto</th>
                        				<th>Disponibilidad</th>
                        				<th>Acciones</th>
                        			</tr>
                        		</thead>
                        		<tbody>
                        			<tr th:each="entrenador : ${listaEntrenadores}">
                        				<td th:text="${entrenador.id}"></td>
                        				<td th:text="${entrenador.nombres}"></td>
                        				<td th:text="${entrenador.apellidos}"></td>
                        				<td th:text="${entrenador.contacto}"></td>
                        				<td th:text="${entrenador.especialidad}"></td>
                        				<td th:text="${entrenador.disponibilidad}"></td>
                        				<td>
                        					<a th:href="@{/entrenador/editar/{id} (id=${entrenador.id})}" type="button" class="btn btn-secondary m-1">Editar</a>
                        					<button type="button" class="btn btn-secondary m-1">Eliminar</button>
                        				</td>
                        			</tr>
                        		</tbody>
                        	</table>
                        </div>
                        <form th:action="@{/entrenador/nuevo}" method="POST">
                        	<button type="submit" class="btn btn-primary m-1">Nuevo</button>
                        </form>
                    </div>
                </div>
            </div>
      </div>
    </div>
  </div>
  </div>
  <script th:src="@{libs/jquery/dist/jquery.min.js}"></script>
  <script th:src="@{/libs/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/libs/apexcharts/dist/apexcharts.min.js}"></script>
  <script th:src="@{/libs/simplebar/dist/simplebar.js}"></script>
  <script th:src="@{/js/sidebarmenu.js}"></script>
  <script th:src="@{/js/app.min.js}"></script>
  <script th:src="@{/js/dashboard.js}"></script>
  <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.8/dist/iconify-icon.min.js"></script>
</body>

</html>